
body {
  overflow-x: hidden !important;
}



.media-bg {
  background-image: url("./assets/articleBg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .morph li {
    background: #252525dd;
    box-shadow: inset -4px -4px 5px rgba(155, 154, 154, 0.1);
  }
  .morph .active {
    background: #252525dd;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.6),
      inset -4px -4px 8px rgba(255, 255, 255, 0.1);
  }
}
@media (min-width: 1280px) {

  .morph li {
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .morph li:hover {
    background: #303030;
  }
}

.glass {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
